/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* the line height is 1.7 times bigger than the pre-determined line height*/
    color: #777;
    padding: 30px;
}
/**********
* HEADER SECTION
*/

.header {
    height: 95vh; /* should take up 95% of the viewport height */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url('../img/hero.jpg');
    background-size: cover; /*will set the background img to match the element*/
    background-position: top; /* the top stays the same a we change the background size*/
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}